/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.wrapper {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}

.content {
     height: 500px;
}

.skins {
     height: 400px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.skins > * {
     border: 5px solid black;
}

h1 {
     text-align: center;
}

.hidden {
     display: none;
}