<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="wrapper">    
      <div class="content">  
        <h1>Get valorant shop (index.html)</h1>
        <div class="login">  
          <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
          </div>
          
          <div>
              <label for="pass">Password:</label>
              <input type="password" id="pass" name="password"
                    minlength="8" required>
          </div>
          <button id="clickMe" type="button" name="button">Click Me</button>
        </div>
        <div class="skins">
          <div class="itemContainer">
            <img id="skinImage1" src="">
            <h2 id="skin1"></h2>
          </div>
          <div class="itemContainer">
            <img id="skinImage2" src="">
            <h2 id="skin2"></h2>
          </div>          
          <div class="itemContainer">
            <img id="skinImage3" src="">
            <h2 id="skin3"></h2>
          </div>
          <div class="itemContainer">
            <img id="skinImage4" src="">
            <h2 id="skin4"></h2>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>